/* (C) Adam Smith - Base CSS File */

/* ---------- Resets ---------- */

* { margin: 0; padding: 0; box-sizing: border-box;  }
img { border: 0 }
html, body { height: 100%; }

#container { min-height: 54%; position: relative; }
#contentbox { max-width: 1200px; margin: 0 auto; padding: 1px 0 167px 0; }

.fix { min-height: 95% !important; }
.clear { clear: both; }

/* ---------- Text ---------- */

::selection { background: rgba(0, 0, 0, 0.2); }
a { color: #006296; text-decoration: none; }
a:hover { text-decoration: underline; }
h1, h2, h3, h4 { font: 500 16px 'Oswald', sans-serif; text-transform: uppercase; letter-spacing: 0px; }
p, h5, h6 { font: 500 16px 'Lato', sans-serif; letter-spacing: 0px; }
h1 { font-size: 50px; font-weight: 500; }
h2 { font-size: 40px; font-weight: 300; }
h3 { font-size: 18px; }
h4 { font-size: 12px; }
h5 { font-size: 16px; }
h6 { font-size: 19px; }

.indent { padding-left: 1.6em; color: #5e5e5e; }
.title { max-width: 1180px; margin: 20px auto; color: #006296; padding: 5px 10px 10px 0; }
.subheading { width: 100%; padding: 10px; color: #006296; margin: 40px 0 30px 0; font: 300 22px 'Oswald', sans-serif; text-transform: uppercase; border-bottom: rgba(0,99,150,0.3) 1px solid; text-align: center; }

/* ---------- Header + Footer ---------- */

#headwrap { width: 100%; }
#header { max-width: 1200px; margin: 0px auto; }
#logo { max-width: 60px; float: left; margin: 16px 15px 0 10px; }
.rightpanel { float: right; margin-top: 19px; }
.pagebannerbg { background: url(/images/backgrounds/wheel.jpg); height: 350px; width: 100%; float: left; position: relative; }
.pagebanner { width: 100%; height: 100%; opacity: 0.7; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(155, 155, 155, 0.3) 37%, rgba(255, 255, 255, 0.3) 61%, rgba(255, 255, 255, 0.3) 100%); }

.prefooter { width: 100%; background-color: rgba(0, 99, 150, 1); }
.prefooter a, .prefooter h3, .prefooter h4 { color: white; }
.prefootercontent { max-width: 1200px; margin: 0 auto; padding: 30px 10px 0 10px; }
footer { width: 100%; display: block; position: absolute; }

/* ---------- Divisions ---------- */

.canvas { width: 100%; display: table; position: relative; }
.div100, .div70, .div60, .div50, .div40, .div33, .div30, .div25, .div20 { display: table-cell; padding: 10px; float: left; }
.div100 { width: 100%; } .div70 { width: 70%; } .div60 { width: 60%; } .div50 { width: 50%; } .div40 { width: 40%; } .div33 { width: 33.33%; } .div30 { width: 30%; } .div25 { width: 25%; }
.div20 { width: 16.66%; min-height: 260px; }
.line { height: 1px; width: 100%; background-color: #f2f2f2; margin: 10px 0; }
.gridbox { background-position: center; background-size: auto 100%; background-repeat: no-repeat; height: 120px; border-radius: 6px; position: relative; }
a.windowlink { position: absolute; height: 100%; width: 100%; top: 0; left: 0; text-decoration: none; z-index: 10; background-color: rgba(255, 255, 255, 0.1); cursor: pointer; }
a.windowlink:hover { background-color: rgba(255, 255, 255, 0); transition: background-color 0.5s ease; }

/* ---------- Forms ---------- */

.contact-area { width: 100%; }
.contact-area input, .contact-area textarea { padding: 5px; width: 100%; font: normal 16px 'Lato', sans-serif; margin: 0px 10px 10px 0px; border: 1px solid #ccc; }
.contact-area textarea { height: 90px; }
.contact-area textarea:focus, .contact-area input:focus { background-color: #f2f2f2; }
.contact-area input.submit-button { width: 100px; float: right; color: white; margin: 0; background-color: #5e5e5e; border: none; }

/* ---------- Modifiers ---------- */

.centre { text-align: center; }
.left { float: left; }
.right { float: right; }
.dim { color: #5e5e5e; }
.dimmer { color: #8e8e8e; }
.thin { font-weight: 300; }

/* ---------- Navigation ---------- */

#nav li { float: left; list-style: none; }
#nav li a { display: block; font: 300 14px 'Oswald', sans-serif; padding: 20px 14px; color: #5e5e5e; text-transform: uppercase; }
#nav li a:hover { background: #f2f2f2; color: #006396; transition: all 0.5s ease; }
.social-icons { color: #5e5e5e; }
.social-icons:hover { color: #006396; }

/* ---------- Store ---------- */

.storecontainer { width: 100%; }
.storemenu { max-width: 1200px; margin: 0 auto; overflow: hidden; border-bottom: solid 1px #ccc; border-top: solid 1px #ccc; }
.storemenu li { display: inline-block; list-style: none; padding: 13px; float: left; font: 300 15px 'Oswald', sans-serif; color: #5e5e5e; letter-spacing: 0.5px; text-transform: uppercase; }

#basketicon { text-indent: 15px; background: url(/images/BasketIcon.png) 10px 11px / 24px NO-REPEAT; position: relative; display: inline-block; float: right; padding: 0 20px 0 30px; font: 500 15px 'Lato', sans-serif; line-height: 47px; height: 47px; }
#basketicon:hover, #deliverybutton:hover { text-decoration: underline; background-color: rgba(0, 0, 0, 0.05); transition: all 0.5s ease; color: #006396; }

.addtobasket { width: 30%; padding: 10px; background: #8aa8bd; border-radius: 7px; cursor: pointer; color: white; display: inline-block; font: normal 15px 'Lato'; }
.added { background-color: #f2f2f2 !important; color: #ccc !important; }

/* ---------- Mobile Menu ---------- */

#newCSPMenu li {
	width: 100%;
	padding: 10px;
	font: 300 15px 'Oswald', sans-serif;
	list-style: none;
	text-transform: uppercase;
	background: white;
	color: #006396;
	margin-bottom: 10px;

}

.menuDiv50 {
	width: 50%;
	float: left;
}

.ind {
	margin-right: 6px;
}

#newCSPMenu li:hover, .menuDiv50 li:hover {
	background: rgba(255,255,255,0.8);
	transition: background 0.5s ease;
}


/* ---------- To Be Deprecated! ---------- */

.upspace { margin-top: 35px !important; }
.upspace2 { margin-top: 80px !important; }
.upspace3 { margin-top: 400px !important; }
.downspace0 { margin-bottom: 15px !important; }
.downspace { margin-bottom: 25px !important; }
.downspace2 { margin-bottom: 45px !important; }
.rightspace { margin-right: 10px; }
.leftspace { margin-left: 10px; }
.nomargin { margin: 0; }
.gap { width: 100%; height: 20px; }

.mobilehide {} .mobileshow { display: none !important; }

.smallmap {
    background-image: url(/images/backgrounds/Trafford-Map.png);
    background-position-y: -50px;
}
.bigmap {
    background-image: url(/images/backgrounds/Manchester-Map.png);
}
.unitpic {
    background-image: url(/images/unit.jpg);
}
.socialmediaicon {
    width: 25px !important;
    height: 25px !important;
    margin-left: 5px;
}

.cspblue {
    color: #006396;
}

.prodlabel {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.blanklink {
    color: black !important;
    text-decoration:
}

.showcase-subtitle {
    font: 500 20px 'Lato', sans-serif;
    text-transform: none;
}

.showcase-container {
    margin-top: 20%;
    margin-bottom: 20%;
}

.showcase-button {
    display: inline-block;
    padding: 7px 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
    color: black;
    font: normal 16px 'Oswald', sans-serif;
    margin-right: 20px;
    border: 1px solid #f2f2f2;
    text-transform: uppercase;
}

.showcase-title {
    font: 500 60px 'Oswald' sans-serif;
}
.showcase-heading {
    font: 500 50px 'Oswald', sans-serif;
}

video#bgvid {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -100;
    background: ;
    background-size: cover;
}

