@media screen and (max-width: 730px) {

/* ------------------------------------------------------------------------ */
/*	Basic Adjustments														*/
/* ------------------------------------------------------------------------ */

#container { margin: 0 10px; }

.slicknav_menu { display: block  !important; }

.mobilehide { display: none !important; }	
	
.mobileshow { display: inline !important; }


/* ------------------------------------------------------------------------ */
/*	Specific Element Corrections											*/
/* ------------------------------------------------------------------------ */

.div33, .div40, .div60, .div50 {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
	
.companytitle {
	font-size: 32px;
	line-height: 32px;
	text-align: center;
}

.minititle {
	font-size: 47px;
	line-height: 47px;
	text-align: center;
}

.button { margin-bottom: 10px !important; width: 100%; margin-right: 0 !important; }

.title { padding: 5px 10px 10px 10px; }

.newbuttons { float: none; }
	
#footerleft { max-width: 100% !important; }

.talkbox {
	padding-left: 0;
	padding-right: 0;
}

#logo {
	float: none !important;
	margin: -37px auto 10px auto !important;
}

#headwrap { padding: 0 !important; }

.subheading { padding: 0; }
	
.fullwidth {
	width: 100% !important;
	height: auto !important;
	border-left: solid 5px white;
	text-align: center;
}

.productcategory {
	width: 100%;
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
	border-left: solid 10px white;
}

}